snippet im "import default from 'xyz'"
import ${1} from '${2:$1}'
endsnippet

snippet cl "Console log"
console.log(${0})
endsnippet

snippet cw "Console warn"
console.warn(${0})
endsnippet

snippet ce "Console error"
console.error(${0})
endsnippet

snippet ci "Console info"
console.info(${0})
endsnippet

snippet ct "Console trace"
console.trace(${0})
endsnippet

snippet @todo "Todo comment"
// @TODO: ${1} [`date +%Y-%m-%d`]
endsnippet
